<div class="container partials">

<p id="notice"><%= notice %></p>

<h3>Tweetp.ly's</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Search text</th>
      <th>Tweetp.ly</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.name %></td>
        <td><%= search.search_text %></td>
        <td><%= search.reply_tweet %></td>
        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path, class: "btn btn-default" %>
</div>
