<p>
  <strong>Name:</strong>
  <%= @search.name %>
</p>

<p>
  <strong>Search text:</strong>
  <%= @search.search_text %>
</p>

<p>
  <strong>Reply tweet:</strong>
  <%= @search.reply_tweet %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
