

     <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div><%= link_to image_tag("tweetply.png", :size => "138x65"), root_path,class: "brand-logo"  %></div>

            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <%= link_to "Home", root_path, class: "nav-link" %>
                    </li>
                    <% if user_signed_in? %>
                      <li class="nav-item nav-link"><%= link_to "New Tweetply", new_search_path, class: "" %></li>
                      <li class="nav-item nav-link"><%= link_to "Dash", searches_path, class: "" %></li>
                      <li class="nav-item nav-link"><%= link_to "Profile", edit_user_registration_path, class: "" %></li>
                      <li class="nav-item nav-link"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>


                    <% else %>
                      <li class="nav-item nav-link"><%= link_to "Sign Up", new_user_registration_path, class: "" %></li>
                     <li class="nav-item nav-link"><%= link_to "Log In", new_user_session_path, class: "" %></li>
                      <li class="nav-item nav-link">
                        <a class="">Features</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a class="">Pricing</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a class="">About</a>
                    </li>
                    <% end %>

                </ul>

            </div>
        </div>
    </nav>
    <!--/.Navbar-->


